<footer id="footer" class="footer">
  <div class="inner-flex">
    <div class="footer-column">
      <h6>Links</h6>
      <ul>
        <li><a class="footer-link" target="_blank" href="https://twitter.com/godokaisdead">Twitter</a></li>
        <li><a (click)="randomCard($event)" class="footer-link" href="/random">Random Card</a></li>
      </ul>
    </div>

    <div class="footer-legal">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae
        eleifend arcu. Vestibulum finibus consectetur enim in aliquam. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Aliquam scelerisque sem quam, ut volutpat nulla congue a.
        Cras sed ipsum nibh. Duis egestas maximus porttitor. Etiam ac justo
        vulputate, consequat sem nec, ullamcorper lacus. Donec vulputate ac
        lectus et malesuada.
      </p>
      <p>
        Pellentesque quis tristique nisl. Donec suscipit lacus erat, condimentum
        sodales tellus iaculis non. In non efficitur nisi, vitae consequat nisl.
        Proin interdum, velit suscipit ultricies euismod, massa ipsum molestie
        libero, ut tincidunt nulla nulla at velit. Quisque eros velit, posuere
        id orci in, posuere eleifend nisl. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nam imperdiet
        pellentesque metus vitae vehicula. Curabitur at elit a tellus bibendum
        convallis. Proin feugiat elit vitae dapibus hendrerit. Suspendisse eu
        est a urna consectetur ornare sed id sem. In a lectus suscipit,
        malesuada eros eu, mollis dui. Etiam vel magna accumsan, maximus sem
        quis, dictum turpis. Aliquam erat volutpat. Cras blandit risus et
        lacinia varius. Quisque sagittis ligula tempus, volutpat lacus dictum,
        gravida eros.
      </p>
    </div>
  </div>
</footer>
