
.main {
  background-color: #f5f7f7;
  min-height: 70vh;
}

.filter p,
.disclaimer p {
  max-width: 1024px;
  margin: 0 auto;
}

.filter,
.disclaimer {
  padding: 12px 20px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: #535353;
  border-bottom: 1px solid rgba(99, 68, 150, 0.1);
}

.cards__result {
  display: grid;
  margin: 20px auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  max-width: 1024px;
  row-gap: 2px;
  padding: 0 10px;
}

@media (min-width: 513px) {
  .cards__result {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 769px) {
  .cards__result {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.cards__result li img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
}

.disclaimer b {
  font-weight: bold;
  color: #449596;
}